body{
    font-family: 'VT323' , monospace;
    font-size: 1em;
}

.bg-yellow{
    background-color:#e8af30;
}
.bg-dark-yellow{
    background-color:#f3a90a;
}
.bg-pink{
    background-color:#e2718d;
}
.bg-dark-pink{
    background-color:#d64066;
}
.bg-green{
    background-color:#71e2a6;
}
.img-back{
    background: url('IMG-0102.PNG') no-repeat center center;
    background-size: cover;
    height: 50rem;
    color: white;
    font-size:4em;
}
.img-back h1{
    font-size: 1em;
}
.img-height{
    height:20vh;
    border-radius:50%;
}
.portfolio-align{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.portfolio-align  a{
    text-decoration: none;
    color: white;
}
.portfolio-align a:hover{
    text-decoration: none;
    color: #71e2a6;
}
.nav-pills .nav-link.active{
    background-color: #71e2a6;
    color: rgb(1, 10, 58);
}

.nav-link{
    color: #71e2a6;
}
.nav-link:hover{
    color: #e8af30;
}