body{
    background-color: #d64066;
}

.bg-yellow{
    background-color:#e8af30;
}
.bg-pink{
    background-color:#e2718d;
}
.bg-dark-pink{
    background-color:#d64066;
}
.bg-green{
    background-color:#71e2a6;
}
.img-back{
    background: url('IMG-0102.PNG') no-repeat center center;
    background-size: cover;
    height: 50rem;
    color: white;
    font-family: 'Monoton' , cursive;
}
.flex-portfolio{
    display:flex;
    align-items: stretch;
}
.img-height{
    height:20vh;
    border-radius:50%;
}
